html, body {
    min-height: 100%;
    background-attachment: fixed;
}
  
body::before {
    content: "" !important;
    background: url('/public/img/home.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
    background-attachment: fixed !important;
    opacity: 1 !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    position: fixed !important;
    z-index: -2 !important;  
}

.bg-blue-glass{
    backdrop-filter: blur(2px) saturate(40%) !important;
    -webkit-backdrop-filter: blur(2px) saturate(40%) !important;
    background-color: rgb(13, 110, 253, 0.8) !important;
    border: solid 2px rgba(255, 255, 255, 0.3) !important; 
    border-radius: 15px;
    /* border: solid 2px rgba(13, 110, 253, 0.9) !important; */
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.5), 0 10px 20px 0 rgba(0,0,0,0.19) !important;
}

.bg-white-glass{
    backdrop-filter: blur(2px) saturate(40%) !important;
    -webkit-backdrop-filter: blur(2px) saturate(40%) !important;
    background-color: rgba(255, 255, 255, 0.8) !important;
    border: solid 2px rgba(255, 255, 255, 0.3) !important; 
    border-radius: 15px;
    /* border: solid 2px rgba(13, 110, 253, 0.9) !important; */
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.5), 0 10px 20px 0 rgba(0,0,0,0.19) !important;
}

.texto-negrita{
    font-weight: bold !important;
}

.img-delete{
    width: 60px;
    height: 60px;
    border: 0 !important;
}

.index-1{
    z-index: 1 !important;
}

.index-2{
    z-index: 2 !important;
}

.card-size-sm{
    width: 200px;
    height: 200px;
}
.card-size-xl{
    width: 410px;
    height: 350px;
}

.gren{
    color: green !important;
}
.red{
    color: red !important;
}

.iframe-test{
    border:none;
    position:absolute;
    left:0;
    width:100%;
    height:250px;
    min-height:250px;
    border:none;
    overflow:hidden !important; 
}